<li class="nav-item pe-3">
  <a class="nav-link" href="/profile">Профиль</a>
</li>
<li class="nav-item pe-3">
  <a class="nav-link" href="/">Новости</a>
</li>
<li class="nav-item pe-3">
  <a class="nav-link" href="/add-friend">Друзья</a>
</li>
<li class="nav-item pe-3">
  <a class="nav-link" href="/messages">Чат</a>
</li>
<li class="nav-item pe-3">
  <a class="nav-link" href="/chats">Сообщения</a>
</li>
