<!-- addFriend.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Add Friend</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <header><%- include ('./partials/header') %></header>
  </head>
  <body>
    <h1>Добавить друга</h1>
    <form action="/add-friend" method="POST">
      <label for="friendName">Имя пользователя:</label>
      <input type="text" id="friendName" name="friendName" />
      <button type="submit">Отправить</button>
    </form>
  </body>
</html>
